<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In to our website </title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


</head>

<body>
    <main>
     
        <div class="form_container">
            <form action="/auth/login" method="POST" class="signin_form">
            	 <h3>Log-In to your account</h3>
                   <h4> <%= message %></h4>
                <div class="uemail_div">
                    <input type="email" placeholder="johndoe@gmail.com" name="uemail" required>
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                </div>
                <div class="upassword_div">
                    <input type="password" placeholder="Enter your password " name="upassword" required>
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
                <div class="buttons_div">
                    <button type="submit">log-In</button>
                </div>
                <div class="forgotpassword_div">
                    <span><a href="#">forgot password?</a></span>
                    <span><a href="/auth/signin">sign-In</a></span>
                </div>
            </form>
        </div>
    </main>
</body>

</html>