<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to your account </title>
	<link rel="stylesheet" href="/user.css">
</head>
<body>
	
   <main>
   	  <div class="container">
   	      <div class="logo_div">
   	      	 <div class="img"></div> 
   	      </div>
         
          <div class="welcome_msg">
          	<p>Hey <%= name %> , welcome to your account .</p>
          </div>
           
           <form action="/auth/logout" method="POST">
                <button type="submit" style="border:none;padding:10px;border-radius:4px;outline:none;">Logout</button>
           </form>

   	   </div>   
   </main>

</body>
</html>